li {
	list-style: none;
}

.FilmsList {
	padding: 0px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	justify-content: center;
}

@media (min-width: 800px) {
	.FilmsList {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
}
